
<h1>Skye's Awesome Rails Page!</h1>
<h2>Great job Skye, you are doing awesome!</h2>
<p>
	You've found the home page for 
	<%= link_to "Skye Wang.", "http://about.me/skyewang"%>

	The page was built using the
	<a href="http://onemonthrails.com">One Month Rails</a> application.
</p>
<p>
	<a href="#">Sign Up Now!</a>
</p>

